:root {
    --button-height: 30px;
    --button-hover-color: #f5f5f5;
    --button-border-radius: 6px;
    --button-border: 1px solid #ccc;
}

.ProseMirror {
    min-height: 40px;
    min-width: 200px;
    border: var(--button-border);
    border-radius: var(--button-border-radius);
    margin: 10px 0;
    padding: 5px 10px;
}
textarea.ProseMirror {
    display: none;
    width: 100%;
    max-width: 100%;
}

div.tiptap-editor .glyphicon {
    top: 0;
}
div.tiptap-editor h1, .h1 {
    margin-top: 15px;
    font-size: 30px;
}
div.tiptap-editor h2, .h2 {
    margin-top: 15px;
    font-size: 26px;
}
div.tiptap-editor h3, .h3 {
    margin-top: 10px;
    font-size: 22px;
}
div.tiptap-editor blockquote {
    margin: 0;
    padding: 0 0 0 40px;
    border: none;
    font-size: unset;
}
div.tiptap-editor img {
    max-width: 100%;
}
.tiptap-tooltip {
    display: none;
    position: absolute;
    padding: 1px 5px;
    background: #000;
    font-size: 13px;
    border: 1px solid #fff;
    color: #fff;
}

/* button */
div.tiptap-editor .tiptap-controls {
    display: flex;
}
div.tiptap-editor .tiptap-controls button {
    display: inline-flex;
    align-items: center;
    height: var(--button-height);
    min-width: var(--button-height);
    padding: 2px 7px;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
}
div.tiptap-editor button span.name {
    margin-right: 5px;
}
div.tiptap-editor .tiptap-controls button:hover {
    background-color: var(--button-hover-color);
}
div.tiptap-editor .tiptap-controls button:disabled {
    color: #bbb;
}
div.tiptap-editor .tiptap-controls button:disabled .color {
    opacity: 20%;
}
div.tiptap-editor .tiptap-controls button.active {
    background-color: #ddd!important;
}
div.tiptap-editor .tiptap-controls > button {
    margin-right: 5px;
    border: var(--button-border);
    border-radius: var(--button-border-radius);
    box-shadow: -1px 1px 3px rgb(0 0 0 / 10%);
}
div.tiptap-editor .tiptap-controls button > .color {
    width: 14px;
    height: 14px;
    margin: 0;
    margin-left: 6px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
}

/* button group */
div.tiptap-editor .btn-group {
    height: var(--button-height);
    overflow: hidden;
    box-shadow: -1px 1px 3px rgb(0 0 0 / 10%);
}
div.tiptap-editor .btn-group button {
    float: left;
    height: 100%;
    margin: 0;
    border: none;
    border-radius: 0;
}
div.tiptap-editor .btn-group button:not(:last-child) {
    border-right: var(--button-border);
}
div.tiptap-editor .tiptap-controls .btn-group {
    margin-right: 5px;
    border: var(--button-border);
    border-radius: var(--button-border-radius);
}

/* drop button */
div.tiptap-editor button.drop_btn > * {
    display: inline-block;
    margin-right: 3px;
}
div.tiptap-editor button.drop_btn::after {
    content: "↓";
    display: inline-block;
}
div.tiptap-dropdown {
    display: none;
    position: absolute;
    width: min-content;
    min-width: 100px;
    min-height: 20px;
    padding: 5px 0;
    overflow: hidden;
    background-color: #fff;
    border: var(--button-border);
    border-radius: var(--button-border-radius);
    z-index: 1000;
}
.tiptap-dropdown input {
    line-height: unset;
}
.tiptap-dropdown input::after {
    content: "";
    width: 10px;
    height: 10px;
}
.tiptap-dropdown .dropdown-item {
    width: 100%;
    min-height: 25px;
    line-height: 1;
    padding: 6px 13px;
    background: none;
    border: none;
    text-align: left;
}
.tiptap-dropdown.grid .dropdown-item {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.tiptap-dropdown .dropdown-item * {
    display: inline-block;
    vertical-align: middle;
}
.tiptap-dropdown .dropdown-item span.name {
    margin-right: 10px;
    padding: 4px 0;
}
.tiptap-dropdown button:hover {
    background-color: var(--button-hover-color);
}
.tiptap-dropdown button.dropdown-item .color {
    float: right;
    width: 14px;
    height: 14px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
}
.tiptap-dropdown button.submit {
    width: 90%;
    height: 25px;
    margin: 2% 5%;
    border: 0;
    border-top: var(--button-border);
    border-radius: 5px;
    background-color: #337ab7;
    color: white;
}
.tiptap-dropdown button.submit:hover {
    background-color: #5096d2;
}
